crewai==0.30.11
crewai-tools==0.2.6
ipykernel==6.29.4
ipython==8.24.0
jupyter_client==8.6.2
jupyter_core==5.7.2
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.0.5
langchain-text-splitters==0.0.2
langsmith==0.1.63
openai==1.30.2
pydantic==2.7.1
pydantic_core==2.18.2
python-dotenv==1.0.1
tiktoken==0.5.2
yfinance==0.2.40